.hakukentta-container {
    display: flex;
    justify-content: center;
    margin: 40px 0; /* Lis채채 tilaa navigointipalkin ja hakukent채n v채liin */
}

.hakukentta-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.hakukentta {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
}

.hakukentta::placeholder {
    color: #888;
}

.hae-painike {
    background-color: transparent;
    border: none;
    cursor: pointer;
};
